{% extends 'resumeapp/base.html' %}
{% block title %}title{% endblock %}
{% block content %}
<h2>Post</h2>
{% for post in object_list %}
<ul>
    <li>
        <a href="{% url 'article' post.pk %}">
            {{post.title}}</a> - {{post.author}} - {{post.author.id}}
            {{post.author.last_name}}-
        <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
        <a href="{% url 'updatepost' post.pk %}" >edit</a>
        <a href="{% url 'deletepost' post.pk %}" >delete</a>{% endif %}<br/>
            {% endif %}

            {{post.body}}</li>
</ul>

{% endfor %}
{% endblock %}
